<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body style="background-color:#f2f2f2"ng-controller="preguntasController">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <img src="img/oxxo.png"style="width:150px;margin-top:10px"/>
        </div>
      </div>
      <div ng-repeat="website in user.websites">
        <div class="row"style="margin-top:20px">
          <div class="col-md-12">
            <p>Tipo</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <input ng-model="website.tipo"type="text" class="form-control" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="row"style="margin-top:20px">
          <div class="col-md-12">
            <p>Bloque al que pertenece</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <input ng-model="website.bloque"type="text" class="form-control" aria-describedby="basic-addon1">
          </div>
        </div>
          <div class="row"style="margin-top:20px">
            <div class="col-md-12">
              <p>Ingresa la pregunta</p>
            </div>
            <div class="col-md-6 col-sm-6">
              <textarea ng-model="website.pregunta" class="editor form-control"style="border-width: 1px;" autocomplete="off" aria-multiline="true" aria-invalid="false"></textarea>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <center><a ng-click="add()"class="btn" style="background-color:#f22a2a;text-decoration:none;color:#FFFFFF;margin-top:20px">Nueva pregunta</a></center>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <br><br>
              <center><a class="btn" href="#/"style="background-color:#f22a2a;text-decoration:none;color:#FFFFFF;margin-top:20px">Finalizar questionario</a></center>
            </div>
          </div>
    </div>
  </body>
</html>
